.container {
    background-color: #b3b3b3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner-container {
    width: 600px;
    height: 700px;
    background-color: #fff;
    text-align: center;
    border-radius: 7px;
    border: 5px solid #69A1DD;
  }

  .inner-container h1 {
    font-family: Arial, sans-serif; /* Cambia por letra despues */
  }

  .generateButton {
    margin-top: 30px !important;
    width: 150px;
  }